# Database
DATABASE_URL=sqlite:///./champion_trader.db
# DATABASE_URL=postgresql://user:password@localhost/champion_trader

# Telegram
TELEGRAM_BOT_TOKEN=8734798798:AAFlRjrPGcjEtyAHNW2hClm1B-gonDNL39U
TELEGRAM_CHAT_ID=1003828364078

# Dhan Broker API
DHAN_CLIENT_ID=your_dhan_client_id
DHAN_ACCESS_TOKEN=your_dhan_access_token

# TradingView Webhook (for incoming alerts)
WEBHOOK_SECRET=your_secret_key_here

# CORS (comma-separated origins)
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# App settings
APP_PORT=8000
ENVIRONMENT=development

# Defaults (can be overridden in app)
DEFAULT_ACCOUNT_VALUE=1000000
DEFAULT_RPT_PCT=0.50
DEFAULT_EXCHANGE=NSE

ANTHROPIC_API_KEY=sj6x5t6pMk2acDQ55d0jk8dGAoco5S7OxSpA_uciztcKGtVf10TMt3n1SBgkPXKSES8VozCvELTJUmYankzgwQ-Cn-RGQAA
